@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
background-image: url("https://ucarecdn.com/320270ba-ec69-43ae-b232-ee808dc7d8be/download.jpg");
background-size: cover;
min-height: 100vh;
background-color: white;
color:black;
}   